/*  HTML5  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

body {
    font:13px "museo-sans-1","museo-sans-2",sans-serif;
    *font-size:small;
    font-weight: 300;
} 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
pre {
    white-space: pre-wrap; /* CSS-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
body, select, input, textarea {   color: #000; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Djangoguys.com styles
 */

body {
    background: #092E20;
}

.wrapper {
    min-width: 500px;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

code, pre {
    color: #666;
    padding: 0 2px;
    background: #fff;
}
pre {
    padding: 5px;
}

a {
    color: #2E494F;
}
a:hover {
    color: #3F666E;
}

h1, h2, h3, h4, h5, h6 {
    color: #2E494F;
    font-weight: 300;
    letter-spacing: -0.05em;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.7em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.3em;
    font-weight: bold;
}
h6 {
    font-size: 1em;
}

/* Heading
 */

header {
    overflow: hidden;
    color: #fff;
    /*border: 1px solid #332F29;
    border-width: 1px 0;
    */
}

header .wrapper {
    padding-left: 0;
}
header h1 {
    letter-spacing: -0.05em;
    font-weight: normal;
    color: #999;
    display: inline-block;
    margin-bottom: 0;
    font-family: "brevia-1","brevia-2",sans-serif;
}
header h1 a,
header h1 a:hover {
    color: inherit;
    text-decoration: none;
}

header h3 {
    font-weight: normal;
    color: #fff;
    margin-left: 0;
    padding-left: 0;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 15px;
    font-family: "brevia-1","brevia-2",sans-serif;
}

header h3 a {
    color: #EE3124;
    text-decoration: none;
}

nav#navigation {
    text-transform: uppercase;
    font-size: 0.9em;
}
nav#navigation .wrapper {
    padding: 10px 20px;
    padding-left: 0;
}
nav#navigation a.sub {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}
nav#navigation a {
    color: #FFC757;
    display: inline-block;
    margin-right: 20px;
    font-size: 1.2em;
    text-decoration: none;
    padding-bottom: 3px;
}
nav#navigation a:hover {
    color: #999;
}
nav#navigation a.active {
    color: #fff;
}

#main .wrapper {
    background: #eee;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

/* Posts
 */

.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6,
.main p,
.main ul,
.main ol,
.main pre,
.main dl {
     margin-bottom: 15px;
}

.main p,
.main ul,
.main ol,
.main pre,
.main dl {
    line-height: 1.5em;
}

article.post {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
article.post h2 {
    margin-bottom: 0;
}
article.post h2 a {
    text-decoration: none;
    color: inherit;
}
article.post time,
article.post .comment-count {
    font-size: 0.9em;
    color: #666;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
}
article.post .comment-count {
    border-left: 1px solid #ddd;
    margin-left: 5px;
    padding-left: 10px;
}
article.post .body {
    margin: 15px 0;
}
article.post:last-child {
    border-bottom: 0;
}
article.post img {
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    padding: 5px;
    max-width: 97%;
    margin: 0 auto;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
article.post p {
    text-align: justify;
}
article.post .permalink {
    text-align: right;
}
article.post .permalink a {
    text-decoration: none;
    font-weight: bold;
}
article.post .permalink a:hover {
}


/* http://unindented.org/articles/2009/10/github-ribbon-using-css-transforms/
 */
.ribbon {
    background-color: #F1F2C0;
    overflow: hidden;
    /* top left corner */
    position: absolute;
    right: 0;
    top: 2.3em;
    /* 45 deg ccw rotation */
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    /* shadow */
    -moz-box-shadow: 0 0 0.5em #F1F2C0;
    -webkit-box-shadow: 0 0 0.5em #F1F2C0;
}
.ribbon a {
    border: 1px solid #F1F2C0;
    color: #000;
    display: block;
    font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
    margin: 0.05em 0 0.075em 0;
    padding: 0.7em 4.3em;
    text-align: center;
    text-decoration: none;
    /* shadow */
    text-shadow: 0 0 0.3em #F1F2C0;
}

nav.pagination {
    height: 30px;
    line-height: 30px;
    margin-bottom: 15px;
}
nav.pagination a {
    text-decoration: none;
    font-weight: bold;
}
nav.pagination .previous-page {
    float: left;
}
nav.pagination .next-page {
    float: right;
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


span[frown] {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    display: block;
    width: 100px;
    padding: 20px;
    text-align: center;
    font-size: 3em;
}

div#disqus_thread {
    margin-top: 30px;
    padding-top: 25px;
    border-top: 1px solid #ddd;
}

footer {
    color: #eee;
    text-align: center;
}

/* Syntax highlighting */

.highlight  { background: #fff; border: solid 1px #dedede; padding: 10px; margin-bottom: 15px; }
.highlight pre { padding: 0; margin: 0 !important; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
